[submodule "dx_stream"]
	path = dx_stream
	url = git@github.com:DEEPX-AI/dx_stream.git
	branch = main
	ignore = dirty
[submodule "dx_rt"]
	path = dx_rt
	url = git@github.com:DEEPX-AI/dx_rt.git
	branch = main
	ignore = dirty
[submodule "dx_rt_npu_linux_driver"]
	path = dx_rt_npu_linux_driver
	url = git@github.com:DEEPX-AI/dx_rt_npu_linux_driver.git
	branch = main
	ignore = dirty
[submodule "dx_app"]
	path = dx_app
	url = git@github.com:DEEPX-AI/dx_app.git
	branch = main
	ignore = dirty
[submodule "dx_fw"]
	path = dx_fw
	url = git@github.com:DEEPX-AI/dx_fw.git
	branch = main
	ignore = dirty
